{{define "title"}}About{{end}} {{define "main"}}
<div class="main">
  <div class="about-title">
    <p>About Blogman</p>
  </div>
  <p class="about">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident
    esse, expedita fugiat quam, libero quos exercitationem illo sequi, sunt iste
    quia vitae error fugit eligendi quo facilis corporis? Quisquam accusantium
    repellat, at dolore neque tempora impedit reprehenderit nesciunt eveniet
    ducimus in fuga eius officiis necessitatibus fugiat modi eaque minima.
  </p>
</div>
{{end}}
