{{define "title"}}Blog{{end}}

{{define "main"}}
{{template "search" .}}
{{with .Flash}}
  <div class="main flash">
    <div>{{.}}</div>
  </div>
{{end}}
<div class="main">
  <div class="full-blog">
    <div class="title-parent">
      <div>
        <a href="/user/{{.User.UserName}}">{{.User.Name}}</a>
        <a href="/blog/{{.Blog.ID}}">#{{.Blog.ID}}</a>
      </div>
      <span>Views : {{.Blog.Views}}</span>
      <div>
        <span>Updated: {{humanDate .Blog.Updated}}</span>
        <span>Created: {{humanDate .Blog.Created}}</span>
      </div>
    </div>
    <h2>
      <a href="/blog/{{.Blog.ID}}">{{.Blog.Title}}</a>
    </h2>
    <p>{{.Blog.Content}}</p>
  </div>
</div>
{{end}}
