{{define "blog"}}
<div class="main">
  <div class="blog">
    <div>
      <div>
        <div>
          <a href="shds">John maconway</a>
          <a href="5432">#5432</a>
        </div>
      </div>
      <h2>
        <a href="/5432">
          How to overcome the fear of not goint outside in the middle of the
          night to drink ramin with minato
        </a>
      </h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque
        ratione aliquam modi neque praesentium soluta reiciendis minima
        iusto. Odit alias facilis molestiae consectetur iusto laboriosam
        vitae quia, ipsam molestias culpa voluptas voluptatum ab dolores
        dicta impedit quod exercitationem dolore. Vitae itaque quia ab
        tempora, labore accusantium enim earum reiciendis doloremque.
      </p>
    </div>
    <div>
      <span>Views: 324</span>
      <div>
        <span>updated: 2025/1/1 11:51 pm</span>
        <span>created: 2024/5/2 03:01 am</span>
      </div>
    </div>
  </div>
</div>
{{end}}
