{{define "title"}}Change Password{{end}}
{{define "main"}}
<div class="main center">
  <div class="container">
    <form class="login" action="/password/change" method="POST">
      <div><h2>Change Password</h2></div>
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      {{range .Form.NonFieldErrors}}
        <div class="error non-field">{{.}}</div>
      {{end}}
      <label for="current_password">Current Password: </label>
      {{with .Form.FieldErrors.currentPassword}}
        <div class="error">{{.}}</div>
      {{end}}
      <input type="password" name="current_password"/>
      <label for="new_password">New Password: </label>
      {{with .Form.FieldErrors.newPassword}}
        <div class="error">{{.}}</div>
      {{end}}
      <input type="password" name="new_password" />
      <label for="confirm_new_password">Confirm New Password: </label>
      {{with .Form.FieldErrors.confirmNewPassword}}
        <div class="error">{{.}}</div>
      {{end}}
      <input type="password" name="confirm_new_password" />
      <div class="submit">
        <input type="submit" value="Change Password" />
      </div>
    </form>
  </div>
</div>
{{end}}
