{{define "title"}}My Blogs{{end}}
{{define "main"}}
{{template "search" .}}
{{with .Flash}}
  <div class="main flash">
    <div>{{.}}</div>
  </div>
{{end}}
<div class="main heading">
  <h2>
    <p>Blogs By {{.User.Name}}:</p>
  </h2>
</div>
<div class="main">
  {{$user := .User}}
  {{$csrf := .CSRFToken}}
  {{range .Blogs}}
    <div class="blog">
      <div>
        <div>
          <div>
            <a href="/user/{{$user.UserName}}">{{$user.Name}}</a>
            <a href="/blog/{{.ID}}">#{{.ID}}</a>
          </div>
          <div class="blogs-actions">
            <form method="GET" action="/blog/update/{{.ID}}">
              <input type="hidden" name="id" value="{{.ID}}">
              <input type="submit" value="Update">
            </form>
            <form method="POST" action="/blog/delete">
              <input type="hidden" name="csrf_token" value="{{$csrf}}">
              <input type="hidden" name="id" value="{{.ID}}">
              <input type="submit" value="Delete">
            </form>
          </div>
        </div>
        <h2>
          <a href="/blog/{{.ID}}">{{.Title}}</a>
        </h2>
        <p>
          {{.Content}}
        </p>
      </div>
      <div>
        <span>Views: {{.Views}}</span>
        <div>
          <span>Updated: {{humanDate .Updated}}</span>
          <span>Created: {{humanDate .Created}}</span>
        </div>
      </div>
    </div>
  {{end}}
</div>
{{end}}
