{{define "title"}}Sign up{{end}}

{{with .Flash}}
  <div class="main flash">{{.}}</div>
{{end}}
{{define "main"}}
<div class="main center">
  <div class="container">
    <form class="login" action="/user/signup" method="POST">
      <div><h2>Sign Up</h2></div>
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      {{range .Form.NonFieldErrors}}
        <div class="error non-field">{{.}}</div>
      {{end}}
      <label for="name">Name: </label>
      {{with .Form.FieldErrors.name}}
        <div class="error">{{.}}</div>
      {{end}}
      <input type="text" name="name" value="{{.Form.Name}}" placeholder="John Doe" />
      <label for="email">Username: </label>
      {{with .Form.FieldErrors.username}}
        <div class="error">{{.}}</div>
      {{end}}
      <input type="text" name="username" value="{{.Form.UserName}}" placeholder="johndoe33" />
      <label for="email">Email: </label>
      {{with .Form.FieldErrors.email}}
        <div class="error">{{.}}</div>
      {{end}}
      <input type="text" name="email" value="{{.Form.Email}}" placeholder="example@test.com" />
      <label for="password">Password: </label>
      {{with .Form.FieldErrors.password}}
        <div class="error">{{.}}</div>
      {{end}}
      <input type="password" name="password" />
      <div class="submit">
        <input type="submit" value="Sign Up" />
      </div>
    </form>
  </div>
</div>
{{end}}
