{{define "nav"}}
<nav class="main">
  <div class="left">
    <a href="/" class="active">Blogs</a>
    <a href="/blog/create">Create Blog</a>
    <a href="/blogs">My Blogs</a>
  </div>
  <img src="/static/imgs/logo.png" alt="" />
  <div class="right">
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
  </div>
</nav>
{{end}}
