{{define "nav"}}
<nav>
  <div class="left">
    <a href="/">Blogs</a>
    <a href="/users">Users</a>
  </div>
  <img src="/static/imgs/logo.png" alt="" />
  <div class="right">
    <a href="/blogs">My Blogs</a>
    <a href="/profile">Profile</a>
  </div>
</nav>
{{end}}
